body {
  background-color: rgb(133, 133, 133);
  font-family: sans-serif;
}
p {
  margin-right: -50px;
}
h4 {
  text-align: center;
  padding-right: 400px;
}
li {
  padding: 15px;
}

h3 {
  text-align: center;
  margin-left: 550px;
}
.head {
  background-color: rgb(133, 133, 133);

  margin: 20px;
}
.image {
  width: 50%;
  height: 60%;
  margin-left: 325px;
}
.year {
  background-color: aliceblue;
  padding-top: 20px;
  padding-bottom: 20px;
}
